html, body {
  font-family: -apple-system, BlinkMacSystemFont, 
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
  "Fira Sans", "Droid Sans", "Helvetica Neue", 
  sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

p {
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 10px;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
	text-align: center;
}

.workarea {
  display: flex;
  flex-wrap: wrap;
}

.workarea__panel:first-child {
  width: 50%;
}

.canvas {
  box-sizing: content-box; /* ensure inner canvas content area is 500px */
  border: 1px solid #ccc;
  padding: 20px;
  width: 500px;
  height: 500px;
  position: relative;
}

.canvas__disclaimer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}

.frame {
  border: 1px solid #999;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
}

.frame__label {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 1px;
}

.the-design {
  border: 1px solid darkorange;
  background-color: rgba(255, 150, 0, 0.8);
  position: absolute;
}

.resolutions__label {
  text-align: left;
  padding-right: 20px;
}

.design-dimensions__label {
  display: block;
  font-weight: bold;
}

.percentage {
  width: 50px;
}

.results {
  background-color: lightgoldenrodyellow;
  padding: 10px;
  margin-right: 10px;
}

.example__action:after {
  content: "\025B8";
}

.example__action.active:after {
  content: "\025BE";
  
}

.example__image {
  max-width: 90%;
  display: block;
  margin: 20px;

}